@{
    ViewData["Title"] ="Edit";
}


<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Edit  job offer  / @Model.OfferTitle</h1>

    </div>
    <div class="row">
        <div class="col-md-3">
            <aside>
                <ul class="text-center">
                    <li>
                        <a asp-controller="Jobs" asp-action="Create" class="btn btn-success">Create a Job Offer</a>
                    </li>
                    <li>
                        <a asp-controller="Jobs" asp-action="Index" class="btn btn-primary">List of Offers</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Info about the company</h2>
                    <form asp-action="Update" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" >Name Company:</label>
                                    <input type="text" name="NameCompany" value="@Model.NameCompany"  class="form-control">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label or="LogoCompany">Logo Company:</label>
                                    <input  name="file" type="file" value="@Model.LogoCompany" class="form-control">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h2 class="text-center">Info about the offer</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="OfferTitle">Offer Title</label>
                                    <input type="text" name="OfferTitle" value="@Model.OfferTitle" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Country">Country:</label>
                                    <input type="text" name="country" value="@Model.Country" class="form-control">
                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Salary">Salary:</label>
                                    <input type="number" name="Salary" value="@Model.Salary" class="form-control">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Positions">Position:</label>
                                    <input type="number" name="Positions" value="@Model.Positions"  class="form-control">
                                </div>
                            </div>
                        </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Languages">Languagues:</label>
                                    <input type="text" name="Languages" value="@Model.Languages"  class="form-control">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Status">Status:</label>
                                    <select name="Status" class="form-select">
                                        <option value="avilable">Select the option</option>
                                        <option value="avilable">Avilable</option>
                                        <option value="disable">Disable</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="Description">Description:</label>
                                <textarea name="Description" value="@Model.Description" cols="30" rows="4" class="form-control" ></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <button type="submit" class="btn btn-primary col-md-12">Edit job offer</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>